<app-header></app-header>


<div class="login-form">
    <h1>Faça seu cadastro para ter acesso as nossas marvilhosas pizzas!</h1>
    <input type="text" value="" placeholder="Digite seu nome" id="name" required />
    <input type="email" value="" placeholder="Digite seu email" id="username" required />
    <input type="text" value="" placeholder="Digite seu endereço" id="adress" required />
    <input type="number" value="" placeholder="Digite seu celular" id="contact" required />
    <input type="password" value="" placeholder="Digite sua senha" id="password" required />    
    <button class="button" type="submit">Cadastrar</button>
</div>
<app-footer></app-footer>